{% extends "base.html" %}

{% block extra_meta %}
<!-- Meta Tags for SEO and Improved Visibility -->
<meta name="description" content="Search and discover engaging posts on a variety of topics at neuralnetwork.wiki.">
<meta name="keywords" content="search post, neuralnetwork.wiki, engaging content, informative topics">
{% endblock %}

{% block title %}Search Post{% endblock %}

{% block content %}
<!-- Main Content Section -->
<main id="mainContent" class="container mx-auto flex-grow px-0">
    <!-- Page Header -->
    <h1 class="text-2xl font-pt-serif mb-2 text-gray-700">Search Post</h1>

    <!-- Search Input -->
    <div class="max-w mb-4 relative">
        <input id="search-input-page" type="text" placeholder="Search post..." aria-label="Search" class="w-full text-sm px-4 py-2 rounded-md bg-white border border-gray-300 text-gray-800 focus:outline-none focus:ring-2 focus:ring-blue-500">
    </div>

    <!-- Search Feedback Section -->
    <div id="search-feedback" class="text-gray-600 text-sm mb-4"></div>

    <!-- Search Results Container -->
    <div id="search-results-container" class="grid grid-cols-1 md:grid-cols-2 gap-6"></div>
</main>
{% endblock %}

{% block extra_scripts %}
<!-- Link to JavaScript for Search Functionality -->
<script src="{{ url_for('static', filename='javascript/search-post-1.js') }}"></script>
{% endblock %}